<section class="contaier-fluid text-center m-2 bg-warning d-flex flex-column justify-content-center align-items-center"
  style="min-height: 85vh; background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="col-12 ncol-xl-3 mx-auto font6 mt-5 mb-5 fw-light">{{ title }}</div>
  <img src="../img/1.jpg" class="img-fluid" style="width: 325px;" alt="">
</section>
<section class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 100vh;">
  <p class="col-12 col-md-6 mx-auto" [innerHTML]="finalText"></p>
</section>
