.f1 {
  font-family: "SophiaMorgant", sans-serif;
}

.aux {
  min-height: 90vh;
}

.aux2 {
  min-height: 100vh;
}
.aux2 p {
  font-size: 0.85rem;
  max-width: 300px;
}
@media only screen and (min-width: 768px) {
  .aux2 p {
    font-size: 1rem;
    max-width: none;
  }
}

.container-fluid {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  div {
    font-size: 3rem;
  }
}