<div class="container my-5">
  <h2 class="text-center mb-4 font2">Perfil de Usuario</h2>

  <div class="text-center mb-4">
    <p><strong>Nombre de Usuario:</strong> {{ usuario.nombre }}</p>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-outline-success text-dark mb-2">Cambiar Contraseña</button>

    <ng-container>
      <button class="btn btn-outline-secondary mb-2">Carrito / Pedido en Borrador</button>
      <button class="btn btn-outline-success mb-2">Confirmar y Realizar Pedido</button>
      <button class="btn btn-outline-warning mb-2">Ir a Pago</button>
      <button class="btn btn-outline-info mb-2">Historial de Pedidos</button>
    </ng-container>

    <button class="btn text-dark" style="border: rgb(207, 83, 83) solid 1px; background: rgb(243, 196, 196);">Eliminar
      Cuenta</button>
  </div>
</div>