@import "../../../styles/scss/fonts";

.f1 {
  font-family: "SophiaMorgant", sans-serif;
}

body {
  div {
    font-size: 3rem;
    font-weight: 400;
  }

  section {
    p {
      font-weight: 300;
    }

    i {
      font-size: 2rem;
      padding: 10px;
    }
  }
}
