@if (showFormPaypal) {
<div class="container d-flex flex-column justify-content-center align-items-center p-4">
  <h1 class="text-center mb-4 fs-3 fw-bold font2">Integración de Pago con Paypal</h1>
  <form [formGroup]="paypalForm" (ngSubmit)="onSubmit()" class="mb-4 w-25">
    <div class="mb-3">
      <label for="method" class="form-label">Método de pago</label>
      <input id="method" type="text" formControlName="method" value="Paypal" readonly class="form-control" />
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Monto</label>
      <input id="amount" type="number" formControlName="amount" value="10.0" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="currency" class="form-label">Moneda</label>
      <select id="currency" formControlName="currency" class="form-select">
        <option value="USD">USD</option>
        <option value="EUR" selected>EUR</option>
        <option value="GBP">GBP</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <input id="description" type="text" formControlName="description" class="form-control" />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Pagar con PayPal</button>
    </div>
  </form>
</div>
} @else if (procesando) {
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <img src="/img/loading-spinner.gif" alt="Procesando pago" class="mb-4">
  <p class="fs-4 text-muted">Procesando pago...</p>
</div>
} @else if (cancelado) {
<div class="alert alert-danger" role="alert">
  <strong class="fw-bold">¡Pago cancelado!</strong>
  <span class="d-block">El proceso de pago ha sido cancelado. Por favor, inténtelo nuevamente si lo desea.</span>
</div>
<div class="mt-4">
  <a (click)="onClose()" class="btn btn-primary">Cerrar</a>
</div>
} @else {
<div class="alert alert-success" role="alert">
  <strong class="fw-bold">¡Éxito!</strong>
  <span class="d-block">Tu pago con PayPal se procesó correctamente.</span>
</div>
<div class="mt-4">
  <a (click)="onClose()" class="btn btn-primary">Cerrar</a>
</div>
}
