@font-face {
  font-family: "Celestine";
  src: url("/fonts/Celestine.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chopin";
  src: url("/fonts/Chopin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/JosefinSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SophiaMorgant";
  src: url("/fonts/SophiaMorgant.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JuliusSansOne";
  src: url("/fonts/JuliusSansOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font1 {
  font-family: "Celestine", sans-serif;
}

.font2 {
  font-family: "Chopin", sans-serif;
}

.font3 {
  font-family: "JosefinSans", sans-serif;
}

.font4 {
  font-family: "JuliusSansOne", sans-serif;
}

.font5 {
  font-family: "Raleway", sans-serif;
}

.font6 {
  font-family: "SophiaMorgant", sans-serif;
}
