@font-face {
  font-family: "SophiaMorgant";
  src: url("../../../styles/scss/fonts/SophiaMorgant.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Celestine";
  src: url("../../../styles/scss/fonts/Celestine.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans";
  src: url("../../../styles/scss/fonts/JosefinSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JuliusSansOne";
  src: url("../../../styles/scss/fonts/JuliusSansOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../../styles/scss/fonts/Raleway.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chopin";
  src: url("../../../styles/scss/fonts/Chopin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0;
}

.f1 {
  font-family: "SophiaMorgant", sans-serif;
}

.f2 {
  font-family: "Chopin", sans-serif;
}

.s1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section div {
  font-size: 5rem;
}
section h1 {
  font-size: 3.5rem;
}