<div class="text-center fs-2 p-5">Listado de Colecciones</div>

<div class="container">
  <div class="d-flex justify-content-start">
    <button class="btn btn-outline-success rounded-0" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">Crear
      Colección</button>
  </div>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th *ngFor="let col of columnas">{{ col.label }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td *ngFor="let col of columnas">{{ row[col.key] }}</td>
        <td>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalEditar">
            <i class="fa-solid fa-pen-to-square text-secondary fs-5"></i>
          </button>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalEliminar">
            <i class="fa-solid fa-trash text-secondary fs-5"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Crear -->
  <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabelCrear"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabelCrear">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Editar -->
  <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabelEditar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabelEditar">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Eliminar -->
  <div class="modal fade" id="exampleModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabelEliminar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabelEliminar">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
