html, body {
  height: 100%;
  margin: 0;
}

.s1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-size: 5rem;
  }

  h1 {
    font-size: 3.5rem;
  }
}
