<div class="d-grid" style="min-height: 100vh; grid-template-rows: 1fr 1fr;">
  <section class="container d-flex flex-column align-items-center justify-content-center text-center fw-light mb-5"
    style="font-size: 5rem; height: 1fr;">
    <div class="col-xl-4 col-12 font6">{{ title }}</div>
    <div class="col-12 font2">{{ span }}</div>
  </section>
  <section class="container text-center mb-5">
    <h1 class="col-md-6 col-12 mx-auto mb-5 fw-light" style="font-size: 3.5rem; height: 1fr;">{{ subtitle }}</h1>
    <img src="img/principal.png" alt="logo" class="img-fluid mx-auto w-25">
    <p class="col-md-6 col-12 mx-auto mt-5 mb-5">{{ text }}</p>
  </section>
</div>
