<section class="container d-flex flex-column justify-content-center align-items-center">
  <a href="../../index.html" class="text-decoration-none mb-5"><- Volver a Inicio</a>
      <div class="border-2 border-info rounded-4 p-5" style="background: #DDA39D; width: 400px;">
        <h2 class="f1">Inicio Sesión</h2>
        <br>
        <form action="../../inicio.html">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Ingresa tu email">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu email con nadie más</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa una contraseña">
          </div>
          <button type="submit" class="btn btn-primary border-2 rounded-3 border-warning" style="background: #F3D8CD;">
            Registrarse
          </button>
        </form>
      </div>
</section>
