<div class="container mt-5">
  <h1 class="font5 fs-2">Panel de Administración</h1>

  <div>
    <div>
      <h2 class="font5 fs-3">Total de Usuarios</h2>
      <p *ngIf="totalUsuariosConfirmados === 0">No hay usuarios que han confirmado su cuenta</p>
      <p *ngIf="totalUsuariosConfirmados === 1">Hay {{ totalUsuariosConfirmados }} usuario que ha confirmado su cuenta
      </p>
      <p *ngIf="totalUsuariosConfirmados > 1">Hay {{ totalUsuariosConfirmados }} usuarios que han confirmado su cuenta
      </p>
      <p *ngIf="totalUsuariosConfirmados === 0">No hay usuarios que no han confirmado su cuenta</p>
      <p *ngIf="totalUsuariosNoConfirmados === 1">Hay {{ totalUsuariosNoConfirmados }} usuario que no ha confirmado su
        cuenta
      </p>
      <p *ngIf="totalUsuariosNoConfirmados > 1">Hay {{ totalUsuariosNoConfirmados }} usuarios que no han confirmado su
        cuenta
      </p>
    </div>
    <div>
      <h2 class="font5 fs-3">Pedidos este mes</h2>
      <p>{{ pedidosEsteMes }}</p>
    </div>
    <div>
      <h2 class="font5 fs-3">Invitaciones Enviadas</h2>
      <p>{{ invitacionesEnviadas }}</p>
    </div>
    <div>
      <h2 class="font5 fs-3">Colecciones Activas</h2>
      <p>{{ coleccionesActivas }}</p>
    </div>
  </div>

  <div>
    <div>
      <h3 class="font5 fs-3">Pedidos por Mes</h3>
    </div>

    <div>
      <h3 class="font5 fs-3">Distribución por Estado</h3>
    </div>
  </div>

  <div class="recent-activity">
    <h3 class="font5 fs-3">Actividad Reciente</h3>
    <ul>
      <!-- <li *ngFor="let evento of actividadReciente">
        {{ evento.fecha | date:'short' }} - {{ evento.descripcion }}
      </li> -->
    </ul>
  </div>

</div>
