<section class="d-flex justify-content-center align-items-center text-primary" style="min-height: calc(100vh - 135px);"
  *ngIf="isTokenValid">
  <div class="border-2 border-info rounded-4 p-4 bg-success m-3">
    <h2 class="text-center font2 fw-semibold mb-4">Restablecer Contraseña</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

      <div class="form-group mb-2">
        <label for="password" class="form-label">Nueva Contraseña</label>
        <div class="input-group">
          <input id="password" [type]="showPassword ? 'text' : 'password'" class="form-control"
            formControlName="password"
            [ngClass]="{ 'is-invalid': password?.invalid && (password?.touched || password?.dirty) }" />
          <button class="btn text-secondary bg-primary border-0" type="button" (click)="togglePassword()"
            aria-label="Mostrar u ocultar contraseña">
            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
          </button>
        </div>
        <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="invalid-feedback d-block">
          <div *ngIf="password?.errors?.['required']">La contraseña es obligatoria</div>
          <div *ngIf="password?.errors?.['maxlength']">La contraseña no puede superar los 24
            caracteres</div>
          <div *ngIf="password?.errors?.['pattern']">
            La contraseña debe contener al menos <br> 3 letras minúsculas, <br> 2 mayúsculas, <br> 1 número y <br> 1
            carácter especial
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
        <div class="input-group">
          <input id="confirmPassword" [type]="showPassword ? 'text' : 'password'" class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty) }" />
          <button class="btn text-secondary bg-primary border-0" type="button" (click)="togglePassword()"
            aria-label="Mostrar u ocultar contraseña">
            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
          </button>
        </div>
        <div *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)"
          class="invalid-feedback d-block">
          <div *ngIf="confirmPassword?.errors?.['required']">
            La confirmación de contraseña es obligatoria.
          </div>
          <div *ngIf="confirmPassword?.errors?.['mismatch']">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
          Cambiar contraseña
        </button>
      </div>
    </form>
  </div>
</section>