<form [formGroup]="formCrear" (ngSubmit)="crearColeccion()">
  <div class="modal-header">
    <h1 class="modal-title fs-5 font3" id="exampleModalLabelCrear">Crear Colección</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control border-secondary" formControlName="nombre" minlength="3" maxlength="20"
        required />
      @if (nombreCrear?.invalid && (nombreCrear?.dirty || nombreCrear?.touched)) {
      <div class="invalid-feedback d-block">
        @if (nombreCrear?.errors?.['required']) {
        <div>El nombre es obligatorio.</div>
        }
        @if (nombreCrear?.errors?.['minlength']) {
        <div>El nombre debe tener al menos 3 caracteres.</div>
        }
        @if (nombreCrear?.errors?.['maxlength']) {
        <div>El nombre no puede tener más de 20 caracteres.</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control border-secondary" rows="3" formControlName="descripcion"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="formCrear.invalid">Crear</button>
  </div>
</form>
