<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand p-0" [routerLink]="navItems[0].link" routerLinkActive="active">
      <img src="img/icon.png" alt="logo" class="img-fluid" style="width: 125px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems" routerLinkActive="nav-underline">
          <a class="nav-link f3 fw-bold text-secondary" [routerLink]="item.link" routerLinkActive="active fw-medium">
            {{ item.label }}
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isLoggedIn()">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item" *ngFor="let item of dropdownItems; let isLast=last">
              <a class="dropdown-item text-secondary" [routerLink]="item.link"
                routerLinkActive="active">{{item.label}}</a>
              <hr *ngIf="!isLast" class="dropdown-divider">
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item" *ngIf="storageService.getUser()?.roles?.includes('ROL_ADMIN')">
              <a class="dropdown-item text-secondary" [routerLink]="dropdownConfigItems[0].link">
                {{dropdownConfigItems[0].label}}
              </a>
            </li>
            <hr class="dropdown-divider" *ngIf="storageService.getUser()?.roles?.includes('ROL_ADMIN')">
            <li class="nav-item">
              <a class="dropdown-item text-secondary" [routerLink]="dropdownConfigItems[1].link">
                {{dropdownConfigItems[1].label}}
              </a>
            </li>
            <hr class="dropdown-divider">
            <li class="nav-item">
              <a class="dropdown-item text-secondary" [routerLink]="dropdownConfigItems[2].link" (click)="logout()">
                {{dropdownConfigItems[2].label}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav *ngIf="isLoggedIn() && storageService.getUser()?.roles?.includes('ROL_ADMIN') && isAdminRoute()"
  class="navbar navbar-expand-lg bg-light py-2 border-top border-secondary">
  <div class="container text-center d-flex justify-content-center align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="nav-underline" *ngFor="let item of adminItems">
        <a class="nav-link f3 fw-bold text-secondary" [routerLink]="item.link" routerLinkActive="active">{{
          item.label}}</a>
      </li>
    </ul>
  </div>
</nav>
