<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand p-0" [routerLink]="navItems[0].link" routerLinkActive="active">
      <img src="img/icon.png" alt="logo" class="img-fluid" style="width: 125px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems" routerLinkActive="nav-underline">
          <a class="nav-link f3 fw-bold text-secondary" [routerLink]="item.link" routerLinkActive="active fw-medium">{{
            item.label
            }}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isLoggedIn">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item" *ngFor="let item of dropdownItems; let isLast=last">
              <a class="dropdown-item text-secondary" [routerLink]="item.link"
                routerLinkActive="active">{{item.label}}</a>
              <hr *ngIf="!isLast" class="dropdown-divider">
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item text-secondary" [routerLink]="dropdownLoginItems[0].link"
                routerLinkActive="active">{{dropdownLoginItems[0].label}}</a>
            </li>
            <hr class="dropdown-divider">
            <li class="nav-item">
              <a class="dropdown-item text-secondary" [routerLink]="dropdownLoginItems[1].link"
                (click)="logout()">{{dropdownLoginItems[1].label}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
