<div class="text-center fs-2 p-5">Listado de Colecciones</div>

<div class="container">
  <div class="d-flex justify-content-start">
    <button class="btn btn-outline-success rounded-0" data-bs-toggle="modal" data-bs-target="#exampleModalCrear">
      Crear Colección
    </button>
  </div>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        @for (col of columnas; track $index) {
        <th>{{ col.label }}</th>
        }
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (row of data; track $index) {
      <tr>
        @for (col of columnas; track $index) {
        <td>{{ row[col.key] }}</td>
        }
        <td>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalEditar">
            <!-- (click)="abrirEditar(row)" -->
            <i class="fa-solid fa-pen-to-square text-secondary fs-5"></i>
          </button>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalEliminar">
            <i class="fa-solid fa-trash text-secondary fs-5"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="modal fade" id="exampleModalCrear" tabindex="-1" aria-labelledby="exampleModalLabelCrear"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <app-coleccion-form-create
          (successEvent)="closeModalCrear(); closeModalEditar(); swalService.showSuccess('Creación exitosa', 'La colección ha sido creada correctamente')"
          (errorEvent)="closeModalCrear(); closeModalEditar(); swalService.showError('Error al crear', 'No se pudo crear la colección. Intente nuevamente.')" />
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabelEditar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <app-coleccion-form-update
          (successEvent)="closeModalCrear(); closeModalEditar(); swalService.showSuccess('Edición exitosa', 'La colección ha sido actualizada correctamente.')"
          (errorEvent)="closeModalCrear(); closeModalEditar(); swalService.showError('Error al editar', 'No se pudo actualizar la colección. Intente nuevamente.')"
          [selectedItem]="selectedItem" (listCollections)="listarColecciones()" />
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabelEliminar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 font3" id="exampleModalLabelEliminar">Eliminar Colección</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que desea eliminar la <strong>{{ selectedItem?.nombre }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarColeccion()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
