<div class="container-fluid">
  <div class="text-center fs-2 pt-5 pb-2">Listado de Pedidos</div>
  <div class="container">
    <div class="d-flex justify-content-start mb-4 d-none d-md-block" style="max-width: 325px;">
      <app-search (search)="onSearch($event)"></app-search>
    </div>

    <div class="d-flex justify-content-between mb-4 d-md-none">
      <app-search (search)="onSearch($event)" class="flex-grow-1"></app-search>
    </div>

    <!-- <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div> -->

    <div class="table-responsive d-none d-md-block transition-opacity">

      <table class="table table-hover">
        <thead>
          <tr class="text-center text-dark">
            <th>
              <app-column-sort [clear]="orderNamesClear.id" [fieldInput]="'ID'" [fieldQueryInput]="'id'"
                (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              <app-column-sort [clear]="orderNamesClear.costeEnvio" [fieldInput]="'Coste de Envío'"
                [fieldQueryInput]="'costeEnvio'" (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              <app-column-sort [clear]="orderNamesClear.direccion" [fieldInput]="'Dirección'"
                [fieldQueryInput]="'direccion'" (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              <app-column-sort [clear]="orderNamesClear.estado" [fieldInput]="'Estado'" [fieldQueryInput]="'estado'"
                (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              <app-column-sort [clear]="orderNamesClear.fecha" [fieldInput]="'Fecha'" [fieldQueryInput]="'fecha'"
                (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              <app-column-sort [clear]="orderNamesClear.total" [fieldInput]="'Total'" [fieldQueryInput]="'total'"
                (orderOuput)="onChangeOrder($event)">
              </app-column-sort>
            </th>
            <th>
              Acciones
              <button class="border-0 bg-transparent" (click)="onClearOrder()">
                <i class="fa-solid fa-ban"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          @if (pedidos.length > 0) {
          @for (pedido of pedidos; track pedido.id; let isOdd = $odd, isEven = $even) {
          <tr class="text-center">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.costeEnvio }}</td>
            <td>{{ pedido.direccion }}</td>
            <td>{{ pedido.estado | estadoPedidoPipe }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.total }}</td>
            <td>
              <button class="bg-transparent border-0" data-bs-toggle="modal" (click)="prepararEdicion(pedido)"
                data-bs-target="#exampleModalVer">
                <i class="fa-solid fa-eye text-secondary fs-5"></i>
              </button>
              <button class="bg-transparent border-0 text-secondary" (click)="delete(pedido.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
          } @else {
          <tr>
            <td colspan="7">
              <p>Ninguna categoría encontrada.</p>
            </td>
          </tr>
          }
        </tbody>
      </table>

    </div>

    <div *ngIf="pedidos.length > 0" class="d-md-none">
      <div class="d-md-none mb-3 px-2">
        <div class="row fw-bold">
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.id" [fieldInput]="'ID'" [fieldQueryInput]="'id'"
              (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.costeEnvio" [fieldInput]="'Coste'"
              [fieldQueryInput]="'costeEnvio'" (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.direccion" [fieldInput]="'Dirección'"
              [fieldQueryInput]="'direccion'" (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.estado" [fieldInput]="'Estado'" [fieldQueryInput]="'estado'"
              (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.fecha" [fieldInput]="'Fecha'" [fieldQueryInput]="'fecha'"
              (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-6 mb-1">
            <app-column-sort [clear]="orderNamesClear.total" [fieldInput]="'Total'" [fieldQueryInput]="'total'"
              (orderOuput)="onChangeOrder($event)">
            </app-column-sort>
          </div>
          <div class="col-12 d-flex align-items-center justify-content-between pt-2 border-top">
            <span class="text-dark fw-semibold">Acciones</span>
            <button class="border-0 bg-transparent" (click)="onClearOrder()">
              <i class="fa-solid fa-ban"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card mb-3 rounded shadow-sm" *ngFor="let pedido of pedidos">
        <div class="card-body">
          <h5 class="card-title font2 fw-bolder text-decoration-underline text-start mb-3 pb-1"
            style="text-underline-offset: 5px;">Pedido {{
            pedido.id }}</h5>
          <div class="card-text text-start">
            <div class="row mb-2">
              <div class="col-6 fw-bold">Coste de Envío</div>
              <div class="col-6">{{ pedido.costeEnvio }}</div>
            </div>
            <div class="row mb-2">
              <div class="col-6 fw-bold">Dirección</div>
              <div class="col-6">{{ pedido.direccion }}</div>
            </div>
            <div class="row mb-2">
              <div class="col-6 fw-bold">Estado</div>
              <div class="col-6">{{ pedido.estado | estadoPedidoPipe }}</div>
            </div>
            <div class="row mb-2">
              <div class="col-6 fw-bold">Fecha</div>
              <div class="col-6">{{ pedido.fecha }}</div>
            </div>
            <div class="row mb-2">
              <div class="col-6 fw-bold">Total</div>
              <div class="col-6">{{ pedido.total }}</div>
            </div>
            <div class="d-flex justify-content-start mt-3">
              <button class="bg-transparent border-0 pe-3 text-secondary" data-bs-toggle="modal"
                (click)="prepararEdicion(pedido)" data-bs-target="#exampleModalVer">
                <i class="fa-solid fa-eye fs-5"></i>
              </button>
              <button class="bg-transparent border-0 text-secondary" (click)="delete(pedido.id)">
                <i class="fa-solid fa-trash fs-5"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-span-6">
        <app-paginator [pageInput]="page" [sizeInput]="pageSize" [totalInput]="totalSize"
          (pageOuput)="onChangePage($event)"></app-paginator>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalVer" tabindex="-1" aria-labelledby="exampleModalLabelVer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark font5" id="exampleModalLabelVer">Ver / Editar Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <form (ngSubmit)="guardarCambios('Los cambios se han guardado Correctamente')">
          <div class="mb-2">
            <div class="row text-dark justify-content-start">
              <label class="col">{{ total.label }}</label>
              <label class="col">{{ costeEnvio.label }}</label>
            </div>
            <div class="input-group">
              <input type="{{ total.type }}" min="0" step="0.1" class="form-control"
                [(ngModel)]="selectedItem[total.key]" name="total">
              <span class="input-group-text me-1">{{ total.span }}</span>

              <input type="{{ costeEnvio.type }}" min="0" step="0.1" class="form-control ms-1"
                [(ngModel)]="selectedItem[costeEnvio.key]" name="costeEnvio">
              <span class="input-group-text">{{ costeEnvio.span }}</span>
            </div>
          </div>

          <div *ngFor="let value of formNgFor">
            <label class="d-flex justify-content-start text-dark mb-1">{{ value.label }}</label>
            <div class="input-group mb-2">
              <input type="{{ value.type }}" class="form-control" [(ngModel)]="selectedItem[value.key]"
                name="{{value.key}}" placeholder="{{ value.placeholder }}" readonly>
              <span *ngIf="value === formNgFor[1]" class="input-group-text">C/ nº</span>
            </div>
          </div>

          <label class="d-flex justify-content-start text-dark mb-1">Estado de Envío</label>
          <div class="input-group mb-2">
            <select class="form-select" [(ngModel)]="selectedItem.estado" name="estado">
              <option *ngFor="let aux of estado.options" [value]="aux.option">{{ aux.label }}</option>
            </select>
          </div>

          <label class="d-flex justify-content-start text-dark mb-1">Usuario</label>
          <div class="input-group mb-2">
            <span class="input-group-text">&#64;</span>
            <input type="text" class="form-control" readonly
              [value]="selectedItem.usuario?.nombre + ' ' + selectedItem.usuario?.apellido1 + ' ' + selectedItem.usuario?.apellido2">
          </div>

          <div class="mb-2">
            <div class="row text-dark">
              <label class="col">Estado del Pago</label>
              <label class="col">Método de Pago</label>
            </div>
            <div class="input-group">
              <select class="form-select" disabled [(ngModel)]="selectedItem.pago.estado" name="estadoPago">
                <option value="PENDIENTE">Pendiente</option>
                <option value="COMPLETADO">Completado</option>
                <option value="CANCELADO">Cancelado</option>
              </select>
              <span class="input-group-text me-1">€</span>
              <select class="form-select ms-1" disabled [(ngModel)]="selectedItem.pago.metodo" name="metodoPago">
                <option value="EFECTIVO">Efectivo</option>
                <option value="TARJETA">Tarjeta</option>
                <option value="BIZUM">Bizum</option>
              </select>
              <span class="input-group-text">€</span>
            </div>
          </div>

          <label class="col text-dark">Productos Seleccionados</label>
          <div class="input-group">
            <select class="form-select" multiple [(ngModel)]="selectedItem.productosSeleccionados"
              name="productosSeleccionados">
              <option *ngFor="let producto of selectedItem.productos" [value]="producto.id">{{ producto.nombre }}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-danger text-dark"
          (click)="guardarCambios('Los cambios se han guardado Correctamente')">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()"
          data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>