<div class="text-center fs-2 p-5">Listado de Pedidos</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columnas">{{ col.label }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td *ngFor="let col of columnas">
          <ng-container *ngIf="col.key === 'estado'; else defaultValue">{{ row[col.key] | estadoPedidoPipe
            }}</ng-container>
          <ng-template #defaultValue>{{ row[col.key] }}</ng-template>
        </td>
        <td>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalVer">
            <i class="fa-solid fa-eye text-secondary fs-5"></i>
          </button>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalCompletar">
            <i class="fa-solid fa-check text-secondary fs-5"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary" (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 0">
      Anterior
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button class="btn btn-primary" (click)="cambiarPagina(currentPage + 1)"
      [disabled]="(currentPage + 1) * pageSize >= totalElements">
      Siguiente
    </button>
  </div>
</div>

<!-- Modal Ver -->
<div class="modal fade" id="exampleModalVer" tabindex="-1" aria-labelledby="exampleModalLabelVer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title text-light fs-5" id="exampleModalLabelVer">Ver / Editar Pedido</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div>
          <label class="d-flex justify-content-start text-light mb-1" id="labelTotal">Usuario</label>
          <div class="input-group mb-2">
            <span class="input-group-text">&#64;</span>
            <input type="text" class="form-control" placeholder="Usuario" readonly>
          </div>
        </div>

        <div class="mb-2">
          <div class="container text-light text-start row p-0">
            <label class="col" id="labelTotal">Coste Total</label>
            <label class="col ms-2" id="labelEnvio">Coste de Envío</label>
          </div>
          <div class="input-group">
            <input type="number" min="0" step="0.1" class="form-control" value="0" aria-label="labelTotal">
            <span class="input-group-text me-1 rounded-end-2">€</span>
            <input type="number" min="0" step="0.1" class="form-control ms-1 rounded-start-2" value="0"
              aria-label="labelEnvio">
            <span class="input-group-text">€</span>
          </div>
        </div>

        <!-- preguntar al profe si mejor ponerlo como number o no -->

        <div>
          <label class="d-flex justify-content-start text-light mb-1" id="labelTotal">Fecha de Registro</label>
          <div class="input-group mb-2">
            <input type="date" class="form-control" readonly>
          </div>
        </div>

        <div>
          <label class="d-flex justify-content-start text-light mb-1" id="labelTotal">Dirección</label>
          <div class="input-group mb-2">
            <span class="input-group-text">C/ nº</span>
            <input type="text" class="form-control" placeholder="Dirección" readonly>
          </div>
        </div>

        <div>
          <label class="d-flex justify-content-start text-light mb-1" id="labelTotal">Estado de Envío</label>
          <div class="input-group mb-2">
            <select class="form-select">
              <option value="PENDIENTE">Pendiente</option>
              <option value="EN_CAMINO">En Camino</option>
              <option value="ENTREGADO">Entregado</option>
              <option value="CANCELADO">Cancelado</option>
            </select>
          </div>
        </div>

        <div class="mb-2">
          <div class="container text-light text-start row p-0">
            <label class="col" id="labelTotal">Estado del Pago</label>
            <label class="col ms-2" id="labelEnvio">Método de Pago</label>
          </div>
          <div class="input-group">
            <select class="form-select" disabled>
              <option value="PENDIENTE">Pendiente</option>
              <option value="COMPLETADO">Completado</option>
              <option value="CANCELADO">Cancelado</option>
            </select>
            <span class="input-group-text me-1 rounded-end-2">€</span>
            <select class="form-select ms-1 rounded-start-2" disabled>
              <option value="EFECTIVO">Efectivo</option>
              <option value="TARJETA">Tarjeta</option>
              <option value="BIZUM">Bizum</option>
            </select>
            <span class="input-group-text">€</span>
          </div>
        </div>

        <div>
          <label class="col" id="labelTotal">Productos Seleccionados</label>
          <div class="input-group">
            <select class="form-select" multiple>
              <option>One</option>
            </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Completar -->
<div class="modal fade" id="exampleModalCompletar" tabindex="-1" aria-labelledby="exampleModalLabelCompletar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelCompletar">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-light">
        ¿Está seguro de que quiere archivar este pedido?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Archivar</button>
      </div>
      <!-- (click)="prueba('Acción Realizada Correctamente', '¡Éxito!')" -->
    </div>
  </div>
</div>
