<div class="text-center fs-2 p-5">Listado de Pedidos</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columnas">{{ col.label }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td *ngFor="let col of columnas">{{ row[col.key] }}</td>
        <td>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalVer">
            <i class="fa-solid fa-eye text-secondary fs-5"></i>
          </button>
          <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModalCompletar">
            <i class="fa-solid fa-check text-secondary fs-5"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary" (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 0">
      Anterior
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button class="btn btn-primary" (click)="cambiarPagina(currentPage + 1)"
      [disabled]="(currentPage + 1) * pageSize >= totalElements">
      Siguiente
    </button>
  </div>
</div>

<!-- Modal Ver -->
<div class="modal fade" id="exampleModalVer" tabindex="-1" aria-labelledby="exampleModalLabelVer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelVer">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">#</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">example.com</span>
        </div>

        <div class="mb-3">
          <label for="basic-url" class="form-label">Your vanity URL</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
          </div>
          <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username">
          <span class="input-group-text">#</span>
          <input type="text" class="form-control" placeholder="Server" aria-label="Server">
        </div>

        <div class="input-group">
          <span class="input-group-text">With textarea</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Completar -->
<div class="modal fade" id="exampleModalCompletar" tabindex="-1" aria-labelledby="exampleModalLabelCompletar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelCompletar">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
