@font-face {
  font-family: "SophiaMorgant";
  src: url("../../../../styles/scss/fonts/SophiaMorgant.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Celestine";
  src: url("../../../../styles/scss/fonts/Celestine.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../../../../styles/scss/fonts/JosefinSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JuliusSansOne";
  src: url("../../../../styles/scss/fonts/JuliusSansOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../../../styles/scss/fonts/Raleway.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chopin";
  src: url("../../../../styles/scss/fonts/Chopin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
