.f1 {
  font-family: "JuliusSansOne", sans-serif;
}

.f2 {
  font-family: "Celestine", sans-serif;
}

.f3 {
  font-family: "Chopin", sans-serif;
}

// :host {
//   display: block;
//   min-height: calc(100vh - 131px);
//   background-color: var(--bs-danger);
// }

section {

  div {
    font-size: 3.5rem;
  }

}
