.f1 {
  font-family: "JuliusSansOne", sans-serif;
}

.f2 {
  font-family: "Celestine", sans-serif;
}

.f3 {
  font-family: "Chopin", sans-serif;
}

.aux {
  height: 80vh;
}

section div {
  font-size: 3.5rem;
}