@import "../../../../styles/scss/bootstrap";

.f1 {
  font-family: "JuliusSansOne", sans-serif;
}

.f2 {
  font-family: "Celestine", sans-serif;
}

.f3 {
  font-family: "Chopin", sans-serif;
}

body {
  background: $melocoton;
}

section {

  div {
    font-size: 3.5rem;
  }

}
