<section class="container text-center mt-5 pt-5">
  <h2 class="mt-5">{{ title }}</h2>
  <p class="mt-5 pt-5 fw-ligther" [innerHTML]="finalText"></p>
  <ul class="d-flex list-unstyled justify-content-center mt-5 pt-5">
    @for (link of links; track $index) {
    @if (link.label === 'fa-solid fa-phone') {
    <li>
      <a href="#" (click)="copiarTelefono(); $event.preventDefault()">
        <i [ngClass]="link.label" style="font-size: 2rem; padding: 10px;" class="text-secondary"></i>
      </a>
    </li>
    } @else {
    <li>
      <a [href]="link.link" target="_blank">
        <i [ngClass]="link.label" style="font-size: 2rem; padding: 10px;" class="text-secondary"></i>
      </a>
    </li>
    }
    }
  </ul>
</section>
